:root {
    --charcoal: #264653;
    --persian-green: #2a9d8f;
    --maize-crayola: #e9c46a;
    --sandy-brown: #f4a261;
    --burnt-sienna: #e76f51;

    --white: #fefae0;
    --black: #023047;

    --surface: var(--white);
    --onSurface: var(--black);
    --primary: var(--maize-crayola);
    --onPrimary: var(--black);
    --secondary: var(--persian-green);
    --onSecondary: var(--black);

    --spacing: 8px;
    --font: sans-serif;
}

html.dark-theme {
    --surface: var(--black);
    --onSurface: var(--white);
    --primary: var(--sandy-brown);
    --onPrimary: var(--white);
    --secondary: var(--charcoal);
    --onSecondary: var(--white);
}

body {
    margin: 0;
    background: var(--surface);
    font-family: var(--font);
}
