:root {
    --charcoal: #264653;
    --persian-green: #2a9d8f;
    --maize-crayola: #e9c46a;
    --sandy-brown: #f4a261;
    --burnt-sienna: #e76f51;

    --white: #FFFAFA;
    --black: #121212;

    --surface: var(--white);
    --onSurface: var(--black);
    --shadow: rgb(18, 18, 18, 0.2);
    --primary: var(--maize-crayola);
    --onPrimary: var(--black);
    --secondary: var(--persian-green);
    --onSecondary: var(--black);

    --spacing: 8px;
    --font: sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --surface: var(--black);
        --onSurface: var(--white);
        --shadow: rgb(255, 213, 217, 0.2);
        --primary: var(--sandy-brown);
        --onPrimary: var(--white);
        --secondary: var(--charcoal);
        --onSecondary: var(--white);
    }
}

body {
    margin: 0;
    background: var(--surface);
    color: var(--onSurface);
    font-family: var(--font);
}
